@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

h5 {
  font-family: 'Permanent Marker';
}

.filler {
  height: 99px;
}

@media (max-width: 767px) {
  .filler {
    height: 117px;
    margin-bottom: 20px;
  }
}
